.container-box{
    border: 2px solid #ADD8E6;
    width: 700px;
    margin: 0 auto;
    height: 750px;
    padding: auto 30%;
}

.info-col {
    display: flex;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 2%;
}

label {
    width: 120px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 30px
}

input,
select {
    border: 1.5px solid #2e8bc0;
    background-color: #b5c8ef;
    width: 60%;
}

#submit {
    background-color: #7DA8FF;
    border-radius: 10px;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    color: white;
}

.row-infor {
    display: flex;
    justify-content: space-between;
    padding: 0 20px
}

.row-infor button {
    background-color: #7DA8FF;
    border-radius: 6px;
    color: white;
    border: 1.5px solid #2e8bc0;
    width: 100px;
}

th,
td {
    padding: 5px 25px;
}

button.btn {
    background-color: #b5c8ef;
    border-radius: 6px;
    color: white;
    border: 1.5px solid #2e8bc0;
}

.industry {
    height: 40px;
}

.btn-group {
    display: flex!important;
}

.btn-group .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

}

.add {
    background-color: #7DA8FF;
    border-radius: 10px;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    color: white;
    width: 25%;
    text-align: center;
    padding-top: 7px;
    width: 25%!important;
}

#sign-in {
    text-align: center;
    background-color: #7DA8FF;
    border-radius: 10px;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    color: white;
    display: flex;
    margin: 0 auto;
    padding: 0 20%;
    top: 30px;
    position: relative;

}

.error{
    color: red;
}